.information {
    margin: 10rem 2rem;
    display:flex;
    flex-direction: column;
    gap: 3rem;
    z-index:1;
    overflow:hidden;
}

#introduction {
    width: 70vw;
}

#work {
    margin-left:auto;
    width: 60vw;
}

#personal {
    width: 65vw;

}

#sport {
    margin-left:auto;
    width: 50vw;
}

.aboutMe {
    padding: .75rem 1.5rem;

    color: #cccccc;

    background-color: rgba(140, 140, 140, .3);
    backdrop-filter: blur(2px);
    
    border-radius: 1rem;
}
